In [1]:
import pandas as pd

In [2]:
dump = pd.read_csv('series-tiempo.csv')
dump.sample(1)

,catalogo_id,dataset_id,distribucion_id,serie_id,indice_tiempo,indice_tiempo_frecuencia,valor,serie_titulo,serie_unidades,serie_descripcion,distribucion_descripcion,dataset_tema,dataset_responsable,dataset_fuente,dataset_titulo
528813,sspm,143,143.2,143.2_NO_PR_2004_A_21,2018-04-01,R/P3M,155.17654,indice_serie_original,Índice 2004=100,EMAE. Base 2004,Índice original Estimador Mensual de Actividad...,Actividad,Subsecretaría de Programación Macroeconómica.,Instituto Nacional de Estadística y Censos (IN...,Estimador Mensual de Actividad Económica (EMAE...

In [3]:
api_dump = pd.read_csv('series-tiempo-csv-api.csv')
dump.sample(1)

,catalogo_id,dataset_id,distribucion_id,serie_id,indice_tiempo,indice_tiempo_frecuencia,valor,serie_titulo,serie_unidades,serie_descripcion,distribucion_descripcion,dataset_tema,dataset_responsable,dataset_fuente,dataset_titulo
2517449,sspm,379,379.8,379.8_FTES_FIN_D014__30_36,2014-08-01,R/P1M,33302.2,ftes_fin_dis_inv_fin_2007_2014,Millones de pesos,Fuentes financieras disminucion de la inversió...,Esquema Ahorro - Inversión - Financiamiento. S...,Finanzas Públicas,Subsecretaría de Programación Macroeconómica.,Ministerio de Hacienda,Esquema Ahorro - Inversión - Financimmiento. S...

In [4]:
print(f'Valores en el dump ETL: {len(dump)}')
print(f'Valores en el dump API: {len(api_dump)}')

Valores en el dump ETL: 2833300
Valores en el dump API: 2689759

In [5]:
print(f'Distribuciones en dump ETL: {len(dump.distribucion_id.unique())}')
print(f'Distribuciones en dump API: {len(api_dump.distribucion_id.unique())}')

Distribuciones en dump ETL: 650
Distribuciones en dump API: 685

In [6]:
# A ver si saco las distribuciones que no están en ETL?

etl_distributions = set(dump.distribucion_id)
filtered_api_dump = api_dump.loc[api_dump.distribucion_id.isin(etl_distributions)]

len(filtered_api_dump)

2674324

In [7]:
api_only_distributions = set(api_dump.distribucion_id) - etl_distributions
filtered_api_dump = api_dump.loc[api_dump.distribucion_id.isin(api_only_distributions)]

len(filtered_api_dump)

15435

In [8]:
# Cantidad de series

print(f'Series en dump ETL: {len(dump.serie_id.unique())}')
print(f'Series en dump API: {len(api_dump.serie_id.unique())}')

Series en dump ETL: 20208
Series en dump API: 20235

In [57]:
# O sea, tenemos muchos más valores en series de API que en ETL.
serie = api_dump.serie_id.sample(1).values[0]

print(f'Serie random {serie}')
print(f'Valores en API: {len(api_dump[api_dump.serie_id == serie])}')
print(f'Valores en ETL: {len(dump[dump.serie_id == serie])}')

api_serie = api_dump[api_dump.serie_id == serie]
dump_serie = dump[dump.serie_id == serie]
print(f'Fecha inicial API: {api_serie.indice_tiempo.values[0]}')
print(f'Fecha inicial ETL: {dump_serie.indice_tiempo.values[0]}')
print(f'Fecha final API: {api_serie.indice_tiempo.values[-1]}')
print(f'Fecha final ETL: {dump_serie.indice_tiempo.values[-1]}')
compares = []
for i in range(min(len(api_serie), len(dump_serie))):
    compares.append(all(api_serie.values[0] == dump_serie.values[0]))
print(f"Todos los valores son iguales: {all(compares)}")

Serie random 358.1_ACEITE_GIRNEL__21
Valores en API: 9375
Valores en ETL: 9375
Fecha inicial API: 1993-01-04
Fecha inicial ETL: 1993-01-04
Fecha final API: 2018-09-04
Fecha final ETL: 2018-09-04
Todos los valores son iguales: True

In [58]:
valores_api = pd.read_csv('http://186.33.215.34/series/api/dump/series-tiempo-valores.csv')

In [ ]:
valores_etl = pd.read_csv('http://infra.datos.gob.ar/catalog/modernizacion/dataset/1/distribution/1.3/download/series-tiempo-valores.csv')